# Portainer CE/BE - Container Management UI
# Deploy: halvor install portainer
# Manual: docker compose up -d

services:
  portainer:
    container_name: portainer
    image: ${PORTAINER_IMAGE:-portainer/portainer-ce:latest}
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
      - 9000:9000
      - 8000:8000  # Edge Agents
    networks:
      - portainer_network

volumes:
  portainer_data:
    name: portainer_data

networks:
  portainer_network:
    name: portainer_network
