apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "traefik-public.fullname" . }}-data
  labels:
    {{- include "traefik-public.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

