{{- if and .Values.persistence.enabled (ne .Values.deploymentType "agent") }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "portainer.fullname" . }}-data
  labels:
    {{- include "portainer.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
{{- end }}

