image:
  repository: docker.io/jc21/nginx-proxy-manager
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 81

persistence:
  enabled: true
  storageClass: ""
  size: 1Gi
  accessMode: ReadWriteOnce

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

nodeSelector: {}
tolerations: []
affinity: {}
podAnnotations: {}
