apiVersion: v1
kind: Service
metadata:
  name: {{ include "traefik.fullname" . }}
  labels:
    {{- include "traefik.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.ports.http }}
    targetPort: web
    protocol: TCP
    name: http
  - port: {{ .Values.service.ports.https }}
    targetPort: websecure
    protocol: TCP
    name: https
  - port: {{ .Values.service.ports.dashboard }}
    targetPort: dashboard
    protocol: TCP
    name: dashboard
  selector:
    {{- include "traefik.selectorLabels" . | nindent 4 }}
