apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "portainer-agent.fullname" . }}
  labels:
    {{- include "portainer-agent.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "portainer-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "portainer-agent.selectorLabels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
      - name: portainer-agent
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: agent
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        volumeMounts:
        - name: docker-sock
          mountPath: /var/run/docker.sock
        - name: docker-volumes
          mountPath: /var/lib/docker/volumes
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      volumes:
      - name: docker-sock
        hostPath:
          path: /var/run/docker.sock
          type: Socket
      - name: docker-volumes
        hostPath:
          path: /var/lib/docker/volumes
          type: Directory
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

