image:
  repository: lscr.io/linuxserver/radarr
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 7878

persistence:
  enabled: true
  storageClass: ""
  size: 1Gi
  accessMode: ReadWriteOnce

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

nodeSelector: {}
tolerations: []
affinity: {}
podAnnotations: {}

vpn:
  serviceName: pia-vpn
  serviceNamespace: default
  proxyPort: 8888

networkPolicy:
  enabled: true
