# PIA VPN - OpenVPN container with HTTP proxy
# Deploy: halvor install vpn
# Manual: docker compose up -d
#
# Creates vpn_network which media services connect to for privacy
#
# In development mode (HALVOR_ENV=development), builds from local Dockerfile
# In production mode, uses pre-built image from ghcr.io

services:
  pia-vpn:
    container_name: pia-vpn
    build:
      context: ../../pia-vpn
      dockerfile: Dockerfile
    image: ${VPN_IMAGE:-ghcr.io/scottdkey/pia-vpn:latest}
    cap_add:
      - NET_ADMIN
      - NET_RAW
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - TZ=${TZ:-Etc/UTC}
      - UPDATE_CONFIGS=${UPDATE_CONFIGS:-true}
      - REGION=${REGION:-}
      - PIA_USERNAME=${PIA_USERNAME:-}
      - PIA_PASSWORD=${PIA_PASSWORD:-}
      - DEBUG=${DEBUG:-false}
    volumes:
      - ${VPN_CONFIG_PATH:-/home/${USER}/config/vpn}:/config
      - pia_vpn_logs:/var/log/openvpn
    ports:
      - '10500:8888/tcp'
    networks:
      - vpn_network
    restart: unless-stopped

volumes:
  pia_vpn_logs:
    name: pia_vpn_logs

networks:
  vpn_network:
    name: vpn_network
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
