{{- if and .Values.persistence.enabled (not .Values.persistence.useSharedPVC) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "pia-vpn.fullname" . }}-config
  labels:
    {{- include "pia-vpn.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
{{- end }}

